h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
img {
  margin: 0;
  padding: 0;
  font-size: inherit;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #434455;
  font-size: 16px;
}
body a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  text-align: justify;
}

header.section {
  background-color: #fff;
  border-bottom: 1px solid rgba(231, 233, 252, 1);

  display: flex;
  padding: 24px 156px;
  align-items: center;

  justify-content: space-between;
}

header .logo {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  vertical-align: middle;
}

header nav {
  display: flex;
  margin: 0 auto 0 76px;
  gap: 40px;
}

.logo_web {
  color: #4d5ae5;
}

.menu_nav {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: rgba(46, 47, 66, 1);
}
.menu_nav:hover,
:active {
  color: rgba(64, 75, 191, 1);
}
address {
  display: flex;
  gap: 40px;
}
address a {
  line-height: 24px;
  letter-spacing: 2%;
  font-style: normal;
  color: rgba(67, 68, 85, 1);
}
address a:hover,
:active {
  color: rgba(64, 75, 191, 1);
}

.hero_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2e2f42;
  color: #ffffff;
  height: 600px;
  gap: 48px;
}

.hero_image h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  max-width: 496px;
  margin: 0;
}

.hero_image_button {
  background-color: #4d5ae5;
  color: inherit;
  font-weight: 500;
  letter-spacing: 4%;
  line-height: 24px;
  border-style: none;
  font-size: 16px;
  color: #fff;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}

.hero_image_button:hover {
  cursor: pointer;
  background-color: rgba(64, 75, 191, 1);
}

.future_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2e2f42;
}

.future_text {
  font-size: 16px;
  line-height: 24px;
  color: rgba(67, 68, 85, 1);
}

.section {
  padding: 120px 0;
  width: 100vw;
  margin: auto;
}

.section_1 ul {
  max-width: 1128px;
  min-height: 104px;
  gap: 24px;
  display: flex;
  margin: auto;
}

.section_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  background-color: rgba(244, 244, 253, 1);
}
.section_title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
}
.section_2 ul {
  display: flex;
  gap: 24px;
}
.section_2 li {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 32px;
  margin: auto;

  border-radius: 4px;

  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px 0px rgba(46, 47, 66, 0.16);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section_2_text {
  background-color: white;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 232px;
}
.section_2_name {
  color: rgba(46, 47, 66, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.section_2_job_title {
  line-height: 24px;
  text-align: center;
  color: rgba(67, 68, 85, 1);
}

.section_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  max-width: 1128px;
}
.section_3 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card_content {
  width: 360;
  height: 120;
  gap: 8px;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;

  border-bottom: 1px solid;
  border-top: 0;
  border-style: solid;
  border-color: rgba(231, 233, 252, 1);
}

.section_3_title {
  color: rgba(46, 47, 66, 1);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.section_3_app_name {
  color: rgba(46, 47, 66, 1);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.section_3_app_ctg {
  color: rgba(67, 68, 85, 1);
  line-height: 24px;
}

footer {
  background-color: rgba(46, 47, 66, 1);
  color: rgba(244, 244, 253, 1);
}

.footer-text {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 156px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

footer .logo {
  color: rgba(244, 244, 253, 1);
}
